//==========================================================================================================================================================
// Colors
$color-white: #fff;
$color-white-muted-1: rgba(255, 255, 255, 0.85);
$color-white-muted-2: rgba(255, 255, 255, 0.7);

$color-black: #000;

$color-blue-1: #3e9cdc;
$color-blue-2: #42a9ed;
$color-blue-3: #286690;

$color-bg-1: #272733;
$color-bg-2: #3a3c4c;
$color-bg-3: #3d4050;
$color-bg-muted-1: rgba(16, 16, 29, 0.9);
$color-bg-muted-2: rgba(39, 39, 51, 0.9);

$color-grey: #6f6d7b;
$color-light-grey-1: #bbb;
$color-light-grey-2: #c4c4c4;
$color-light-grey-3: #c3c3c3;
